{% comment %}
<!--
Copyright (c) 2022 Single, LLC - ALL RIGHTS RESERVED

NOTICE:  All information contained herein is, and remains the property of Single, LLC
and its suppliers, if any. The intellectual and technical concepts contained herein are
proprietary to Single, LLC and its suppliers and may be covered by U.S. and Foreign Patents,
patents in process, and are protected by trade secret or copyright law. Dissemination of this
information or reproduction of this material is strictly forbidden unless prior
written permission is obtained from Single, LLC.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% endcomment %}

{% comment %}
<!-- Single Default Styles - Can be edited in assets/single-v3.scss.liquid -->
{% endcomment %}
{{ 'single-v4.css' | asset_url | stylesheet_tag }}

{% if user_keys %}
    <h1 class="single-card-title">Your NFT Collection</h1>
    <div class="single-grid {{ theme.name | handleize }}">
        {% for user_key in user_keys %}
            {% assign user_key_parts = user_key | split: "|" %}
            {% render 'single-key-card', key_name: user_key_parts[0], key_image_url: user_key_parts[1] %}
        {% endfor %}
    </div>
{% endif %}

{% if key_product_id %}
    <div class="single-grid {{ theme.name | handleize }}">
        {% render 'single-product-card', product_id: key_product_id %}
        <h2>Owners get access to all this:</h2>
    </div>
{% endif %}

{% if page_ids.size > 0 %}
    <h1 class="single-card-title">Pages</h1>
    <div class="single-grid {{ theme.name | handleize }}">
        {% for page_id in page_ids %}
            {% assign page_id_parts = page_id | split: "|" %}
            {% render 'single-page-card', page_name: page_id_parts[0], page_url: page_id_parts[1] %}
        {% endfor %}
    </div>
{% endif %}

{% if product_ids.size > 0 or product_hidden_count %}
    <h1 class="single-card-title">Products</h1>
    <div class="single-grid {{ theme.name | handleize }}">
        {% for product_id in product_ids %}
            {% render 'single-product-card', product_id: product_id %}
        {% endfor %}
        {% if product_hidden_count %}
            {% render 'single-lock-card', count: product_hidden_count, denial_reason: product_denial_reason, key_acquisition_url: product_key_acquisition_url %}
        {% endif %}
    </div>
{% endif %}

{% if video_ids.size > 0 %}
    <h1 class="single-card-title">Video</h1>
    <div class="single-grid {{ theme.name | handleize }}">
        {% for video_id in video_ids %}
            {% assign video_id_parts = video_id | split: "|" %}
            {% render 'single-video-card', product_id: video_id_parts[0], page_id: video_id_parts[1] %}
        {% endfor %}
    </div>
{% endif %}